$font-heading: "Oswald", sans-serif;

$basic-green: #68b738;
$hover-green: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$border-color: #d9d9d9;
$error-color: #ff8282;

$mobile-only: 760px;
$tablet-width: 760px;
$tablet-only: 900px;
$desktop-width: 1400px;
